@media (max-width: 992px){
	.principal-menu{
		.item-menu{
			a{
				font-size: 18px;
			}
		}
		.social{
			.item-menu{
				width: 100px;
			}
		}
	}
	.home-beneficios{
		.link-to-shop{
			margin-left: 40%;
			margin-top: 25px;
			width: 60%;
		}
		.beneficio-product{
			.text{
				top: 26%;
				p{
					font-size: 24px;
				}
			}
		}
	}
	.page-beneficios .producto{
		.text.panel p{
			font-size: 28px;
		}
		.producto-graf{
			margin-top: -3.5%;
			.circle .msj{
				top: 16%;
				p{
					font-size: 26px;
				}
			}
		}
	}
	.products{
		.buttons .col-md-6:first-child{
			padding: 0px;
		}
		.buttons .col-md-6:last-child{
			padding: 0px;
			padding-top: 16px;
		}
	}
	.link-marker .panel{
		max-width: 520px;
		width: 70%;
	}
}

@media (max-width: 855px){
	.principal-menu{
		h1{
			left: 12px;
			width: 105px;
		}
		nav{
			padding-left: 105px;
		}
		.item-menu{
			margin-right: 0%;
			a{
				font-size: 16px;
			}
		}
		.social{
			padding-right: 0px;
			width: 90px;
			a{
				width: 24px;
			}
		}
	}
	.home-beneficios{
		.beneficio-product{
			.text{
				p{
					font-size: 21px;
				}
			}
		}
	}
	.page-beneficios .producto{
		margin-bottom: 0px;
		.text{
			padding-left: 215px;
			&:not(.panel){
				padding-left: 50px;
				padding-top: 70px;
			}
			&.link{
				padding-top: 0px;
			}
		}
		.producto-graf{
			left: -21%;
		}
	}
}