@media (max-width: 600px){
	.home-beneficios{
		padding-bottom: 0px;
		.link-to-shop{
			overflow-x: hidden;
			padding: 20px 12px;
			width: 100%;
			.block{
				width: 100%;
				&>p{
					padding-right: 155px;
				}
				.link{
					right: 0px;
				}
			}
		}
		.beneficio-product{
			display: inline-block;
			left: 50%;
			margin-bottom: 50px;
			transform: translateX(-50%);
			width: 290px;
			.product{
				left: 10%;
			}
			.circle svg{
				margin-left: 70px;
			}
			.text{
				left: 128px;
				top: 24%;
			}
		}
		.my-col-md-5{
			padding: 0px;
			width: 100%;
		}
	}
	.testimonials{
		.testimony{
			width: 100%;
		}
	}
	.suscription{
		.container{
			.form-group{
				margin-top: 15px;
			}
		}
	}
	.formulacion p small{
		display: block;
		margin-bottom: 8px;
	}
	.principal-footer{
		.map{
			.link{
				p{
					background-position: 5% center;
					text-align: right;
				}
			}
		}
		.contact{
			height: auto;
			.col-xs-6{
				float: none;
				padding: 0px;
				width: 100%;
			}
			.col-der .social{
				margin-top: 12px;
			}
		}
	}
	.link-marker .panel{
		max-width: none;
	}
}

@media (max-width: 520px){
	.link-marker{
		.contain{
			width: 100%;
			p{
				padding-right: 35%;
			}
			.link{
				right: 12px;
			}
		}
		.panel{
			max-width: none;
		}
	}
	.my-hidden-xs{
		display: none !important;
	}
	.modal-select-language p span{
		display: block;
		width: 100%;
	}
}