<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Natural Drops</title>

	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/custom_scrollbar/jquery.mCustomScrollbar.min.css">
	
	<link rel="stylesheet" href="css/main.css">
	
	<link rel="shortcut icon" href="images/logos/favicon.ico">

	<script src="vendor/js/jquery-1.11.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- Maps -->
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    <script type="text/javascript" src="vendor/js/maplace-0.1.3.min.js"></script>
</head>
<body>
	<div class="modal-loading active"></div>
	<header class="principal-header" style="background-image:url(images/slide.jpg)">
		<div class="container principal-menu">
			<h1 class="principal-logo"><a class="super-div" href="index.html"></a></h1>
			<nav>
				<ul>
					<li><a href="#">NOSOTROS</a></li>
					<li><a href="#">BENEFICIOS</a></li>
					<li><a href="#">PRODUCTOS</a></li>
					<li><a href="#">PUNTOS DE VENTA</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">PREGUNTAS FRECUENTES</a></li>
				</ul>
				<div class="social">
					<a href="#"><img src="images/twitter.svg" class="js-img-to-svg" alt="Twitter"></a>
					<a href="#"><img src="images/facebook.svg" class="js-img-to-svg" alt="Facebook"></a>
				</div>
			</nav>
		</div>
	</header>

	<section class="section page-beneficios">
		<div class="container">
			<header>
				<h1 class="principal-title btn-green-light efect-bottom">
					<span><img src="images/icons/leaf.svg" class="js-img-to-svg" alt="Beneficios"></span>
					BENEFICIOS
				</h1>
			</header>
			<div class="producto">
				<div class=" text panel">
					<p>Natural Drops es una crema natural cuyo principal componente activo es el aceite de cannabis, combinado además con otros elementos de comprobada efectividad como el aloe vera, castaño de indias, manzanilla y árnica.</p>
				</div>
				<div class="text">
					<p>Los componentes activos del cannabis encajan como llaves dentro dentro del sistema endocanabinoide, gracias a los receptores cannabinoides. Estos receptores controlan diversos procesos químicos de nuestro organismo como el dolor, algunas reacciones nerviosas o la infamación.</p>
				</div>
				<div class="producto-graf">
					<img class="img-prod" src="images/product.png" alt="Natural Drops">
					<div class="circle">
						<img src="images/circle.svg" class="js-img-to-svg">
						<div class="msj">
							<p>Árnica</p>
							<p>Manzanilla</p>
							<p>Aloe vera</p>
							<p>Castaño <small>de Indias</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section parallax suscription" data-image-src="images/marihuana.jpg">
		<div class="container efect-bottom">
			<p class="sin-border">
				Comparado con otras alternativas médicas, el Cannabis tiene 20 veces más potencia antiinfamatoria que la aspirina y dos veces más que la hidrocortisona.
			</p>
		</div>
	</section>

	<section class="section treatments">
		<div class="container">
			<header>
				<h1 class="principal-title btn-green-light efect-bottom">
					<span><img src="images/icons/heart.svg" class="js-img-to-svg" alt="Tratamientos"></span>
					TRATAMIENTOS
				</h1>
			</header>
			<div class="testimonials">
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/1.jpg)"></div>
					<h3 class="name">Problemas de circulación</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>PROBLEMAS DE CIRCULACIÓN</strong></p>
						</div>
					</div>
					<div class="info">
						<div class="col-md-6">
							<p>
								La artritis involucra la degradación del cartílago. El cartílago normal protege una articulación y permite que ésta se mueva de forma suave. El cartílago también absorbe el golpe cuando se ejerce presión sobre la articulación, como sucede cuando usted camina. Sin la cantidad usual de cartílago, los huesos se rozan. Esto causa dolor, hinchazón (inflamación) y rigidez. La inflamación de la articulación puede ser consecuencia de una enfermedad autoinmunitaria (el sistema inmunitario del cuerpo ataca por error al tejido sano).
							</p>
						</div>
						<div class="col-md-6">
							<h3>Beneficios</h3>
							<ul>
								<li>Disminuye el dolor en un 35%</li>
								<li>Crema tópica</li>
								<li>Desinflamante</li>
								<li>Encajan como llaves dentro dentro del sistema endocanabinoide</li>
							</ul>
							<span><img src="images/icons/cannabis.svg" class="js-img-to-svg"></span>
							<p class="used">
								Aplicar en la zona afectada masajeando con cuidado
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/2.jpg)"></div>
					<h3 class="name">Artritis & artrosis</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>ARTRITIS & ARTROSIS</strong></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/3.jpg)"></div>
					<h3 class="name">Venas varices</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>VENAS VARICES</strong></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/4.jpg)"></div>
					<h3 class="name">Ematomas</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>EMATOMAS</strong></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/1.jpg)"></div>
					<h3 class="name">Circulación</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>CIRCULACIÓN</strong></p>
						</div>
					</div>
					<div class="info">
						<div class="col-md-6">
							<p>
								La artritis involucra la degradación del cartílago. El cartílago normal protege una articulación y permite que ésta se mueva de forma suave. El cartílago también absorbe el golpe cuando se ejerce presión sobre la articulación, como sucede cuando usted camina. Sin la cantidad usual de cartílago, los huesos se rozan. Esto causa dolor, hinchazón (inflamación) y rigidez. La inflamación de la articulación puede ser consecuencia de una enfermedad autoinmunitaria (el sistema inmunitario del cuerpo ataca por error al tejido sano).
							</p>
						</div>
						<div class="col-md-6">
							<h3>Beneficios</h3>
							<ul>
								<li>Disminuye el dolor en un 35%</li>
								<li>Crema tópica</li>
								<li>Desinflamante</li>
								<li>Encajan como llaves dentro dentro del sistema endocanabinoide</li>
							</ul>
							<span><img src="images/icons/cannabis.svg" class="js-img-to-svg"></span>
							<p class="used">
								Aplicar en la zona afectada masajeando con cuidado
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/2.jpg)"></div>
					<h3 class="name">Psoriasis</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>PSORIASIS</strong></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/3.jpg)"></div>
					<h3 class="name">Problemas de circulación</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>PROBLEMAS DE CIRCULACIÓN</strong></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/4.jpg)"></div>
					<h3 class="name">Artritis & artrosis</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>ARTRITIS & ARTROSIS</strong></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 testimony js-show-info efect-scale">
					<div class="img" style="background-image: url(images/treatments/1.jpg)"></div>
					<h3 class="name">Venas varices</h3>
					<div class="filter"></div>
					<div class="text">
						<div>
							<p><strong>VENAS VARICES</strong></p>
						</div>
					</div>
					<div class="info" style="bottom: 300px;">
						<div class="col-md-6">
							<p>
								La artritis involucra la degradación del cartílago. El cartílago normal protege una articulación y permite que ésta se mueva de forma suave. El cartílago también absorbe el golpe cuando se ejerce presión sobre la articulación, como sucede cuando usted camina. Sin la cantidad usual de cartílago, los huesos se rozan. Esto causa dolor, hinchazón (inflamación) y rigidez. La inflamación de la articulación puede ser consecuencia de una enfermedad autoinmunitaria (el sistema inmunitario del cuerpo ataca por error al tejido sano).
							</p>
						</div>
						<div class="col-md-6">
							<h3>Beneficios</h3>
							<ul>
								<li>Disminuye el dolor en un 35%</li>
								<li>Crema tópica</li>
								<li>Desinflamante</li>
								<li>Encajan como llaves dentro dentro del sistema endocanabinoide</li>
							</ul>
							<span><img src="images/icons/cannabis.svg" class="js-img-to-svg"></span>
							<p class="used">
								Aplicar en la zona afectada masajeando con cuidado
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section parallax suscription" data-image-src="images/marihuana.jpg">
		<div class="container efect-bottom">
			<h1>RECIBE NUESTRA INFORMACIÓN</h1>
			<form action="#">
				<div class="form-group">
					<div class="input">
						<input type="email" placeholder="Correo electrónico">
					</div>
					<div class="button">
						<button type="submit">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</section>

	<div class="divisor"></div>

	<section class="section principal-footer">
		<div id="map-footer" class="map" data-icon="images/icon-map.png">
			<a href="#" class="link">
				<p><span></span><strong>Encuentre la</strong><br>tienda mas cercana</p>
			</a>
		</div>
		<div class="contact">
			<div class="filter">
				<div class="container">
					<div class="col-md-6 col-izq">
						<div class="contain">
							<h2>MENÚ</h2>
							<ul>
								<li><a href="#">Nosotros</a></li>
								<li><a href="#">Beneficios</a></li>
								<li><a href="#">Productos</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Puntos de venta</a></li>
								<li><a href="#">Preguntas frecuentes</a></li>
							</ul>
							<h2>CONTÁCTANOS</h2>
							<address>
								<p>correo@gamil.com</p>
								<p>Av. Primavera 45 Of. 302</p>
								<p>(+57) 456 4312</p>
							</address>
						</div>
					</div>
					<div class="col-md-6 col-der">
						<div class="contain social">
							<div>
								<h2>ENCUENTRANOS</h2>
								<a href="#" class="facebook"><img src="images/facebook.svg" class="js-img-to-svg"></a>
								<a href="#" class="twitter"><img src="images/twitter.svg" class="js-img-to-svg"></a>
							</div>
						</div>
						<div class="contain form-contact">
							<div>
								<h2>ESCRÍBENOS</h2>
								<form action="#">
									<input type="text" placeholder="Nombre">
									<input type="text" placeholder="Correo electrónico">
									<textarea placeholder="Comentario"></textarea>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer><p>Natural Drops © Todos los derechos reservados 2015</p></footer>
	</section>
	
	<script src="vendor/smoove/jquery.smoove.min.js"></script>
	<script src="vendor/parallax/parallax.min.js"></script>
	<script src="vendor/custom_scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

	<script src="js/config.js"></script>
	<script src="js/main.js"></script>
</body>
</html>