<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Natural Drops</title>

	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/custom_scrollbar/jquery.mCustomScrollbar.min.css">
	
	<link rel="stylesheet" href="css/main.css">
	
	<link rel="shortcut icon" href="images/logos/favicon.ico">

	<script src="vendor/js/jquery-1.11.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- Maps -->
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    <script type="text/javascript" src="vendor/js/maplace-0.1.3.min.js"></script>
</head>
<body>
	<div class="modal-loading active"></div>
	<header class="principal-header" style="background-image:url(images/slide.jpg)">
		<div class="container principal-menu">
			<h1 class="principal-logo"><a class="super-div" href="index.html"></a></h1>
			<nav>
				<ul>
					<li><a href="#">NOSOTROS</a></li>
					<li><a href="#">BENEFICIOS</a></li>
					<li><a href="#">PRODUCTOS</a></li>
					<li><a href="#">PUNTOS DE VENTA</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">PREGUNTAS FRECUENTES</a></li>
				</ul>
				<div class="social">
					<a href="#"><img src="images/twitter.svg" class="js-img-to-svg" alt="Twitter"></a>
					<a href="#"><img src="images/facebook.svg" class="js-img-to-svg" alt="Facebook"></a>
				</div>
			</nav>
		</div>
	</header>

	<section class="section">
		<div class="container">
			<header>
				<h1 class="principal-title btn-green-light efect-bottom">
					<span><img src="images/icons/questions.svg" class="js-img-to-svg" alt="Blogs"></span>
					PREGUNTAS FRECUENTES
				</h1>
			</header>
			<div class="article">
				<article class="efect-bottom">
					<h1><span></span>¿LA CREMA TIENE EFECTOS SECUNDARIOS?</h1>
					<p class="important">
						No, la crema no tiene efectos debido a que contiene una mínima porción de sustancia cannabica
					</p>
					<p>Diana, una joven caleña, inicó a comienzos de este año un negocio similar, que ha ido creciendo con el paso de los meses, “ La mayoría de mis clientes son adultos mayores que sufren de enfermedades como artritis, osteoporosis o cáncer, pues los productos ayudan, por ejemplo, a soportar los efectos de la quimioterapia. Pero también la compran deportistas con afecciones músculares y personas que están en postoperatorios”. Cuenta. Diana, una joven caleña, inicó a comienzos de este año un negocio similar, que ha ido creciendo con el paso de los meses, “ La mayoría de mis clientes son adultos mayores que sufren de enfermedades como artritis, osteoporosis o cáncer, pues los productos ayudan, por ejemplo, a soportar los efectos de la quimioterapia. Pero también la compran deportistas con afecciones músculares y personas que están en postoperatorios”. Cuenta.</p>
				</article>
				<article class="efect-bottom">
					<h1><span></span>¿LA CREMA TIENE EFECTOS SECUNDARIOS?</h1>
					<p class="important">
						No, la crema no tiene efectos debido a que contiene una mínima porción de sustancia cannabica
					</p>
					<p>Diana, una joven caleña, inicó a comienzos de este año un negocio similar, que ha ido creciendo con el paso de los meses, “ La mayoría de mis clientes son adultos mayores que sufren de enfermedades como artritis, osteoporosis o cáncer, pues los productos ayudan.</p>
				</article>
				<article class="efect-bottom">
					<h1><span></span>¿LA CREMA TIENE EFECTOS SECUNDARIOS?</h1>
					<p class="important">
						No, la crema no tiene efectos debido a que contiene una mínima porción de sustancia cannabica
					</p>
					<p>Diana, una joven caleña, inicó a comienzos de este año un negocio similar, que ha ido creciendo con el paso de los meses, “ La mayoría de mis clientes son adultos mayores que sufren de enfermedades como artritis, osteoporosis o cáncer, pues los productos ayudan, por ejemplo, a soportar los efectos de la quimioterapia. Pero también la compran deportistas con afecciones músculares y personas que están en postoperatorios”. Cuenta. Diana, una joven caleña, inicó a comienzos de este año un negocio similar, que ha ido creciendo con el paso de los meses, “ La mayoría de mis clientes son adultos mayores que sufren de enfermedades como artritis, osteoporosis o cáncer, pues los productos ayudan, por ejemplo, a soportar los efectos de la quimioterapia. Pero también la compran deportistas con afecciones músculares y personas que están en postoperatorios”. Cuenta.</p>
				</article>
			</div>
		</div>
	</section>

	<section class="section parallax suscription" data-image-src="images/marihuana.jpg">
		<div class="container efect-bottom">
			<p>
				<span><img src="images/icons/send.svg" class="js-img-to-svg"></span>
				TENEMOS LA INTENCIÓN DE DESPEJAR TODAS TUS DUDAS<br>ESCRÍBENOS AL CORREO: HOLA@NATURALDROPS.COM
			</p>
		</div>
	</section>

	<div class="divisor"></div>

	<section class="section principal-footer">
		<div id="map-footer" class="map" data-icon="images/icon-map.png">
			<a href="#" class="link">
				<p><span></span><strong>Encuentre la</strong><br>tienda mas cercana</p>
			</a>
		</div>
		<div class="contact">
			<div class="filter">
				<div class="container">
					<div class="col-md-6 col-izq">
						<div class="contain">
							<h2>MENÚ</h2>
							<ul>
								<li><a href="#">Nosotros</a></li>
								<li><a href="#">Beneficios</a></li>
								<li><a href="#">Productos</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Puntos de venta</a></li>
								<li><a href="#">Preguntas frecuentes</a></li>
							</ul>
							<h2>CONTÁCTANOS</h2>
							<address>
								<p>correo@gamil.com</p>
								<p>Av. Primavera 45 Of. 302</p>
								<p>(+57) 456 4312</p>
							</address>
						</div>
					</div>
					<div class="col-md-6 col-der">
						<div class="contain social">
							<div>
								<h2>ENCUENTRANOS</h2>
								<a href="#" class="facebook"><img src="images/facebook.svg" class="js-img-to-svg"></a>
								<a href="#" class="twitter"><img src="images/twitter.svg" class="js-img-to-svg"></a>
							</div>
						</div>
						<div class="contain form-contact">
							<div>
								<h2>ESCRÍBENOS</h2>
								<form action="#">
									<input type="text" placeholder="Nombre">
									<input type="text" placeholder="Correo electrónico">
									<textarea placeholder="Comentario"></textarea>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer><p>Natural Drops © Todos los derechos reservados 2015</p></footer>
	</section>
	
	<script src="vendor/smoove/jquery.smoove.min.js"></script>
	<script src="vendor/parallax/parallax.min.js"></script>
	<script src="vendor/custom_scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

	<script src="js/config.js"></script>
	<script src="js/main.js"></script>
</body>
</html>